# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Other common ignored files
.DS_Store
Thumbs.db
*.user
*.suo
*.ncb
*.aps
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.properties
*.mk
*.xml
*.pdsbak
*.hxl
*.lst
*.mum
*.rlf
*.sdb
*.sym
*.cmf
*.i
*.p1

!build.xml
Makefile

# PIC packages to ignore
UART/UART-to-LCD/nbproject/*
UART/UART-to-LCD/build/*
UART/UART-to-LCD/dist/*
